@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300');

body {
  background-image: url('/images/background.jpg');
  background-size: 100%;
	background-attachment: fixed;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/*  ------- HEADER -------  */
.header {
  margin: 5px;
  background-color: lightgray;
  padding: 20px;
  height: 160px;
  width: 65%;
  white-space: normal;
  word-break: break-word;
  text-align: center;
}

.header h1 {
  font-family: "Alata";
}

/*  ------- NAVBAR -------  */
.navbar {
  position: sticky;
  top: 0;
	z-index: 1;
  background-color: lightgray;
}

ul {
  list-style-type: none;
  overflow: hidden;
  top: 0;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 54px;
  width: 75%;
  padding: 10px 0;
}

li a {
  display: block;
  color: black;
  text-align: center;
  font-family: Poppins;
  padding: 14px 16px;
  text-decoration: none;
	font-size: 17px;
}

li a:hover {
  background-color: rgb(204, 161, 94);
}

.active {
  background-color:  rgb(198, 55, 55);
}

/*  ------- CONTENT -------  */
.content {
  background-color: lightgray;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  height: 160px;
  width: 65%;
  white-space: normal;
  word-break: break-word;
  text-align: center;
}

.content p {
  font-family: Merriweather;
  font-size: 14px;
}

.content h2 {
  font-family: Poppins;
}