/* Import fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300');

/* Slideshow animation */
.fade {
  animation: fading 9s infinite;
}

@keyframes fading {
  0%{filter:brightness(0)}
  20%{filter:brightness(1)}
  80%{filter:brightness(1)}
  100%{filter:brightness(0)}
}

/* Define colour values */
:root {
  --background-colour: #F1F7ED;
  --border-colour: #91C7B1;
  --navbar-hover-colour: #E3D081;
  --navbar-active-colour: #B33951;
  --button-colour: #B33951;
}

/*  ------- BACKGROUND & WRAPPER DIV -------  */
body {
  background-image: url('/images/background.jpg');
  background-size: 100%;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/*  ------- HEADER -------  */
.header {
  margin: 5px;
  background-color: var(--background-colour);
  padding: 20px;
  height: 160px;
  width: 65%;
  white-space: normal;
  word-break: break-word;
  text-align: center;

  border-right-style: solid;
  border-right-width: 20px;
  border-right-color: var(--border-colour);

  border-left-style: solid;
  border-left-width: 20px;
  border-left-color: var(--border-colour);
}

.header h1 {
  font-family: "Alata";
}

.header img:hover {
  filter: brightness(120%);
}

/*  ------- NAVBAR -------  */
.navbar {
  position: sticky;
  top: 0;
	z-index: 1;
  background-color: var(--background-colour);
}

ul {
  list-style-type: none;
  overflow: hidden;
  top: 0;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 54px;
  width: 75%;
  padding: 10px 0;
}

li a {
  display: block;
  color: black;
  text-align: center;
  font-family: Poppins;
  padding: 14px 16px;
  text-decoration: none;
	font-size: 17px;
}

li a:hover {
  background-color: var(--navbar-hover-colour);
}

.active {
  background-color:  var(--navbar-active-colour);
}

/*  ------- CONTENT -------  */
.content {
  background-color: var(--background-colour);
  padding: 20px;
  margin-top: 10px;
  width: 65%;
  white-space: normal;
  word-break: break-word;
  text-align: center;
  clear: both;

  border-right-style: solid;
  border-right-width: 20px;
  border-right-color: var(--border-colour);

  border-left-style: solid;
  border-left-width: 20px;
  border-left-color: var(--border-colour);
}

.content p {
  font-family: Merriweather;
  font-size: 14px;
}

.content h2 {
  font-family: Poppins;
  font-size: 21px;
}

/* Slideshow on main page */
.slideshow {
  float: left;
  margin-right: 20px;
  margin-bottom: 40px;
}

.slideshow img {
  width: 500px;
}

/* Social media buttons */
.social {
  width: 25px;
  position: fixed;
  top: 5px;
  border-radius: 5px;
}

.social:hover {
  opacity: 0.8;
}

/* Buttons */
.button {
  background-color: var(--button-colour);
  border: none;
  color: white;
  padding: 3px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 25px;
}

.button:hover {
  opacity: 0.8;
  font-size: 18px;
}

/* Divider */
.divider {
  width: 100%;
  height: 5px;
  clear: both;
  background-color: var(--border-colour);
  margin-top: 40px;
  margin-bottom: 40px;
}

/* Cards on news page */
.card {
  clear: both;
  padding: 15px;
  height: 120px;
  border-style: solid;
  border-width: 2px;
  border-color: grey;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card p {
  float: left;
}

.card img {
  float: right;
  height: 120px;
}

.card:hover {
  opacity: 0.8;
  cursor: pointer;
}

.map {
  margin-bottom: 40px;
}

/*  ------- FOOTER -------  */
.footer {
  background-color: var(--background-colour);
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  width: 65%;
  white-space: normal;
  word-break: break-word;
  text-align: center;
}

.footer p {
  font-family: Merriweather;
  font-size: 9px;
}